<!-- <div class="container " >

    <div class="row p-3">
        <div class="col-3" style="background-color:  #9fb1b8;; padding-top: 50px; padding-left: 50px;">
            <h4>Name</h4><p>Anu Thomas</p><br>
            <h4>Country</h4><p>India</p> 
        </div>

        <div class="col-3" style="background-color:  #9fb1b8;; padding-top: 50px;">
            <h4>Email</h4><p>anuthomas@gmail.com</p><br>
            <h4>Address</h4><p>Nil</p>
        </div>


        <div class="col-3" style="background-color:  #9fb1b8;;padding-top: 50px;">
            <h4>Phone Number</h4><p>8023694584</p>
        </div>
        <div class="col-3" style="background-color:  #9fb1b8;;padding-top: 50px;padding-bottom: 10px;">
            <div class="img co" >
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail"
                  alt="avatar" style="width: 150px;height: 150px;border-radius: 100px;">
      
                
      
               
              </div>  
        </div>


    </div>


</div> -->
<div class="container" >
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8 text-center" style="margin-top: 100px;">
        <h3>MY PROFILE</h3>

    </div>
    <div class="col-2">

    </div>

</div>
</div>
<div class="container" >

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-3 text-center" style= "background-color:#3d4a50;; ">
            <div class="img" style="margin-top: 30px; margin-bottom: 30px;">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail"
                  alt="avatar" style="width: 150px;height: 150px;border-radius: 100px;">
                  <h4>Id:34566</h4>
              </div>
        </div>
        
        <div class="col-2" style="background-color:#3d4a50;;">
            <h4 style="margin-top: 30px;">Name</h4><p>Anu Thomas</p>
            <h4>Phone Number</h4><p>8023694584</p>
            <h4 >Date Of Joining</h4><p style="margin-bottom: 30px;">03/01/2022</p>
        </div>
       
        <div class="col-3" style="background-color: #3d4a50;;">
            <h4 style="margin-top: 30px;">Email</h4><p>anuthomas@gmail.com</p>
            <h4>Adress</h4><p>Nil</p>
            <h4 >Remarks</h4><p style="margin-bottom: 30px;">Nil</p>
        </div>
        <div class="col-2">

        </div>


    </div>

</div>