 <!-- <div class="container" style="padding: 20px;">
  <h3>hello</h3>
  <div class="row">
    <div class="col-8">
      <h1>hi</h1>


    </div>
    <div class="col-4">
      <h2>hi</h2>
    </div>

  </div>

</div> -->



<div  style="background-color: #37474F;;">
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <div class="dropdown">
        <button class="btn  dropdown-toggle" style="float: right;" type="button" data-toggle="dropdown">
        <span ><i class="material-icons" style="font-size: 40px;color: beige;margin-top: 20px;margin-right: 30px;">person</i></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a routerLink="/myprofile" routerLinkActive="active" >My profile</a></li>
          <li><a routerLink="/editprofile" routerLinkActive="active">Edit profile</a></li>
          <li><a routerLink="/resetpassword" routerLinkActive="active">Reset password</a></li>
          <li> <a routerLink="/logout" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
   
   
   
  
 
</div>
    <!-- <router-outlet></router-outlet>     -->
    <app-feetype></app-feetype>
 
