<!-- <div class="container">
    
      <div class="text">
        <label for="psw"><b>Old Password</b></label>
        <input type="password" placeholder="Old Password" name="psw" required>
        <label for="psw"><b>New Password</b></label>
        <input type="password" placeholder="New Password" name="psw" required>
        <label for="psw"><b>Conform Password</b></label>
        <input type="password" placeholder="Conform Password" name="psw" required>
      </div>
      <div class="button">
        <button type="submit" class="resetqueryBtn btn btn-primary">Submit</button>
      </div>
   
  </div> -->
<div></div>
<div class="container">
  <div class="row">
    <div class="col-4" >

    </div>
    <div class="col-4 " style="background-color: #3d4a50;;margin-top: 100px;">
      <h5 style="color:rgb(214, 138, 38);">Reset Password</h5>
      
      <div class="text" style="text-align: center; padding-top: 20px;">
        
        <input type="password"placeholder="Old Password" name="psw" required><br>
        
        <input type="password" placeholder="New Password" name="psw" required ><br>
        <input type="password" placeholder="Conform Password" name="psw" required>
        
       
      </div>
       <div class="button " style="text-align: center; padding-bottom: 40px;font-size: 30px;">
        <button type="submit" class="resetqueryBtn btn btn-color" >Submit</button>
        
      </div> 
      
    <div class="col-4">

    </div>


  </div>

</div>