/* .container{
    padding-top: 100px;
    background-color:  #9fb1b8;
    margin-top: 50px;
    padding-left: 100px; 

}*/
/* input[type=text], input[type=password] {
    width: 50%;
    padding: 20px;
    margin: 10px;
    display: list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
       
  }
  .text{
      padding-left: 250px;
  }
  .button{
      padding-left: 550px;
      padding-bottom: 50px;
  }  */
  input{
      padding: 5px;
      width: 60%;
      padding: 10px;
      margin: 10px;
      
      
    
  }
 .btn-color{
     background-color: rgb(187, 115, 7);;
 }
 